{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>UŻYTKOWNIK</h1>
    <h2> (dodaj lub edytuj)</h2>
 <form action="{{ path('app_register') }}">
        
            <input
                type="search"
                name="searchvalue"
                class="form-control"
                placeholder="CRP użytkownika"
                aria-label="Search"
            ><button > ZNAJDŹ</button>
        </form>
        {% if registrationForm is defined %}
            
        
        
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.CRKP, {
            label: 'CRP'
        }) }}
         {{form_row(registrationForm.username)}}
        {{form_row(registrationForm.surname)}}
        {% if tryb == "add" %}
            {{ form_row(registrationForm.plainPassword, {
           
            }) }} 
        {% endif %}

       {{form_row(registrationForm.roles)}}
{{form_row(registrationForm.Przypisane_Magazyny)}}
        <button type="submit" class="btn">ZAPISZ</button>
    {{ form_end(registrationForm) }}
    {% endif %}
{% endblock %}
